@model MVC_SHOP.Models.FeedBacks
@{
    ViewBag.Title = "Home Page";
}
<body>
<section class="section-col-blogs sectionHome">
    <div class="container">
        <div class="row">

        </div>
        <div class="row Title">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="col-title">
                    <h3>
                        <a href="#" title="Thông Tin Khóa Học"><b>Thông Tin Khóa Học</b></a>
                    </h3>
                </div>
                <div class="content-col hover14 column">
                    <div class="img1 blog-item-thumbnail" onclick="location.href = '#';">
                        <a href="#"><figure><img src="~/images/Image Briday/Image3.jpg"/></figure></a>
                    </div>
                    @foreach (var item in ViewBag.Cat1)
                    {
                        <hr/>
                        <h4 class="blog-item-name"><a href="/news/Details/@item.Id">@item.Title</a></h4>
                    }
                    <hr/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="col-title">
                    <h3>
                        <a href="#" title="Nổi Bật"><b>Nổi Bật</b></a>
                    </h3>
                </div>
                <div class="content-col hover14 column">
                    <div class="img1 blog-item-thumbnail" onclick="location.href = '#';">
                        <a href="#"><figure><img src="~/images/Image Briday/Noibat.jpg"/></figure></a>
                    </div>
                    @foreach (var item in ViewBag.Cat2)
                    {
                        <hr/>
                        <h4 class="blog-item-name"><a href="/news/Details/@item.Id">@item.Title</a></h4>
                    }
                    <hr/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="col-title">
                    <h3>
                        <a href="#" title="Tư Vấn"><b>Tư Vấn</b></a>
                    </h3>
                </div>
                <div class="content-col hover14 column">
                    <div class="img1 blog-item-thumbnail" onclick="location.href = '#';">
                        <a href="#"><figure><img src="~/images/Image Briday/Image4.jpg"/></figure></a>
                    </div>
                    @foreach (var item in ViewBag.Cat3)
                    {
                        <hr/>
                        <h4 class="blog-item-name"><a href="/news/Details/@item.Id">@item.Title</a></h4>
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="col-title">
                    <h3>
                        <a href="#" title="Video & Hình ảnh"><b>Video & Hình ảnh</b></a>
                    </h3>
                </div>
                <div class="content-col hover14 column">
                    <div class="img1 blog-item-thumbnail" onclick="location.href = '#';">
                        <a href="#"><figure><img src="~/images/Image Briday/Image5.jpg"/></figure></a>
                    </div>@foreach (var item in ViewBag.Cat4)
                          {
                              <hr/>
                              <h4 class="blog-item-name"><a href="/news/Details/@item.Id">@item.Title</a></h4>

                          }
                </div>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("CreateNew", "FeedBacks", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section class="bg_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form_ct_index">
                        <div>
                            <h2 class="title-box-fu"> Gửi câu hỏi hỗ trợ</h2>
                        </div>
                        <span>                        Bạn muốn nhận được hỗ trợ tư vấn nhanh nhất. Hãy gửi ngay câu hỏi về email của chúng tôi ngay.</span>
                        <div class="form-booking clearfix" style="padding-top: 10px;">
                            <fieldset class="form-group">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control",@id = "Name", placeholder = "Tên của bạn" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </fieldset>
                            <fieldset class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @id = "Mail" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </fieldset>
                            <fieldset class="form-group">
                                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </fieldset>
                            <div class="btn btn-50-blue">
                                <input type="submit" value="Gửi ngay" style="background-color: #13a6ef" class="btn"><i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        <br />
                        <a class="btn btn-50-orange" href="tel:0968063893">Gọi ngay: 0968063893</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row col-rht">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-title">
                                <h2><a href="khoa-hoc-online" title="Khoá học online">Khoá học online</a></h2>
                            </div>
                        </div>
                        <div class="blog_large">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="blog-item">
                                    <div class="img1 blog-item-thumbnail" onclick="location.href='/13-khoa-hoc-online-tot-nhat-nam-2017-chi-voi-hoc-phi-10-usd';">
                                        <a href="/13-khoa-hoc-online-tot-nhat-nam-2017-chi-voi-hoc-phi-10-usd">

                                            <picture>
                                                <source srcset="//bizweb.dktcdn.net/thumb/large/100/216/031/articles/phan-mem-ke-toan-mien-phi-cho-doanh-nghiep-nho-5.jpg?v=1495515113787" media="(max-width: 480px)">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/216/031/articles/phan-mem-ke-toan-mien-phi-cho-doanh-nghiep-nho-5.jpg?v=1495515113787" alt="13 khóa học online tốt nhất năm 2017 chỉ với học phí 10 USD">
                                            </picture>

                                        </a>
                                    </div>
                                    <div class="post-time">
                                        23 THÁNG NĂM 2017
                                    </div>
                                    <h3 class="blog-item-name1"><a class="text3line" href="/13-khoa-hoc-online-tot-nhat-nam-2017-chi-voi-hoc-phi-10-usd" title="13 khóa học online tốt nhất năm 2017 chỉ với học phí 10 USD">13 khóa học online tốt nhất năm 2017 chỉ với học phí 10 USD</a></h3>
                                </article>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="blog-item">
                                    <div class="img1 blog-item-thumbnail" onclick="location.href='/10-khoa-hoc-truc-tuyen-mien-phi-tu-cac-truong-danh-tieng-tren-toan-cau';">
                                        <a href="/10-khoa-hoc-truc-tuyen-mien-phi-tu-cac-truong-danh-tieng-tren-toan-cau">

                                            <picture>
                                                <source srcset="//bizweb.dktcdn.net/thumb/large/100/216/031/articles/apply-nhan-ngay-hoc-bong.jpg?v=1495514778687" media="(max-width: 480px)">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/216/031/articles/apply-nhan-ngay-hoc-bong.jpg?v=1495514778687" alt="10 khóa học trực tuyến miễn phí từ các trường danh tiếng trên toàn cầu">
                                            </picture>

                                        </a>
                                    </div>
                                    <div class="post-time">
                                        23 THÁNG NĂM 2017
                                    </div>
                                    <h3 class="blog-item-name1"><a class="text3line" href="/10-khoa-hoc-truc-tuyen-mien-phi-tu-cac-truong-danh-tieng-tren-toan-cau" title="10 khóa học trực tuyến miễn phí từ các trường danh tiếng trên toàn cầu">10 khóa học trực tuyến miễn phí từ các trường danh tiếng trên toàn cầu</a></h3>
                                </article>
                            </div>
                        </div>
                        <div class="list_blog_title col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="item_name_blog_list"><h3 class="blog-item-name content:1"><a class="text2line" href="/du-hoc-online-dai-hoc-queen-s-tai-sao-khong-co-hoi-cho-cac-ban-tre" title="Du học Online đại học Queen’s tại sao không? Cơ hội cho các bạn trẻ biến ước mơ du học hành hiện thực">Du học Online đại học Queen’s tại sao không? Cơ hội cho các bạn trẻ biến ước mơ du học hành hiện thực</a></h3></div>

                            <div class="item_name_blog_list"><h3 class="blog-item-name"><a class="text2line" href="/cac-truong-dai-hoc-uc-mo-cac-khoa-hoc-truc-tuyen-mien-phi" title="Các trường đại học Úc mở các khoá học trực tuyến miễn phí">Các trường đại học Úc mở các khoá học trực tuyến miễn phí</a></h3></div>

                            <div class="item_name_blog_list"><h3 class="blog-item-name"><a class="text2line" href="/dang-ki-tham-du-ngay-khoa-hoc-usmle-online-cua-kaplan-medical-2017" title="Đăng kí tham dự ngay khóa học USMLE Online của Kaplan Medical 2017">Đăng kí tham dự ngay khóa học USMLE Online của Kaplan Medical 2017</a></h3></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


</body>